* {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-translate-z: 0;
  --tw-rotate-x: initial;
  --tw-rotate-y: initial;
  --tw-rotate-z: initial;
  --tw-skew-x: initial;
  --tw-skew-y: initial;
  --tw-border-style: solid;
  --tw-leading: initial;
  --tw-font-weight: initial;
  --tw-blur: initial;
  --tw-brightness: initial;
  --tw-contrast: initial;
  --tw-grayscale: initial;
  --tw-hue-rotate: initial;
  --tw-invert: initial;
  --tw-opacity: initial;
  --tw-saturate: initial;
  --tw-sepia: initial;
  --tw-drop-shadow: initial;
  --tw-drop-shadow-color: initial;
  --tw-drop-shadow-alpha: 100%;
  --tw-drop-shadow-size: initial;
  --tw-outline-style: solid;
}

:before {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-translate-z: 0;
  --tw-rotate-x: initial;
  --tw-rotate-y: initial;
  --tw-rotate-z: initial;
  --tw-skew-x: initial;
  --tw-skew-y: initial;
  --tw-border-style: solid;
  --tw-leading: initial;
  --tw-font-weight: initial;
  --tw-blur: initial;
  --tw-brightness: initial;
  --tw-contrast: initial;
  --tw-grayscale: initial;
  --tw-hue-rotate: initial;
  --tw-invert: initial;
  --tw-opacity: initial;
  --tw-saturate: initial;
  --tw-sepia: initial;
  --tw-drop-shadow: initial;
  --tw-drop-shadow-color: initial;
  --tw-drop-shadow-alpha: 100%;
  --tw-drop-shadow-size: initial;
  --tw-outline-style: solid;
}

:after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-translate-z: 0;
  --tw-rotate-x: initial;
  --tw-rotate-y: initial;
  --tw-rotate-z: initial;
  --tw-skew-x: initial;
  --tw-skew-y: initial;
  --tw-border-style: solid;
  --tw-leading: initial;
  --tw-font-weight: initial;
  --tw-blur: initial;
  --tw-brightness: initial;
  --tw-contrast: initial;
  --tw-grayscale: initial;
  --tw-hue-rotate: initial;
  --tw-invert: initial;
  --tw-opacity: initial;
  --tw-saturate: initial;
  --tw-sepia: initial;
  --tw-drop-shadow: initial;
  --tw-drop-shadow-color: initial;
  --tw-drop-shadow-alpha: 100%;
  --tw-drop-shadow-size: initial;
  --tw-outline-style: solid;
}

:root {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-red-300: #ffa3a3;
  --color-red-800: #9f0712;
  --color-orange-400: #ff8b1a;
  --color-amber-400: #fcbb00;
  --color-lime-400: #9de500;
  --color-green-400: #05df72;
  --color-emerald-400: #00d294;
  --color-teal-400: #00d3bd;
  --color-cyan-400: #00d2ef;
  --color-sky-400: #00bcfe;
  --color-blue-300: #90c5ff;
  --color-blue-400: #54a2ff;
  --color-blue-700: #1447e6;
  --color-blue-800: #193cb8;
  --color-indigo-400: #7d87ff;
  --color-violet-400: #a685ff;
  --color-purple-400: #c07eff;
  --color-fuchsia-400: #ec6cff;
  --color-pink-400: #fb64b6;
  --color-rose-400: #ff667f;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5dc;
  --color-gray-400: #99a1af;
  --color-gray-500: #6a7282;
  --color-gray-600: #4a5565;
  --color-gray-700: #364153;
  --color-gray-800: #1e2939;
  --color-white: #fff;
  --spacing: 4px;
  --text-sm: 14px;
  --text-sm--line-height: calc(1.25 / .875);
  --text-base: 16px;
  --text-base--line-height: 1.5;
  --text-lg: 18px;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 20px;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-5xl: 48px;
  --text-5xl--line-height: 1;
  --font-weight-bold: 700;
  --leading-relaxed: 1.625;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-3xl: 24px;
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --default-mono-font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-stage: #34496b;
  --color-header: #1f2d45;
  --color-tab: #2a3b58;
  --color-tab-hover: #3b5176;
  --color-card: #22304a;
}

* {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
}

:after {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
}

:before {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-feature-settings: var(--default-font-feature-settings, normal);
  font-variation-settings: var(--default-font-variation-settings, normal);
  -webkit-tap-highlight-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Noto Sans, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

h2 {
  font-size: inherit;
  font-weight: inherit;
}

h3 {
  font-size: inherit;
  font-weight: inherit;
}

h4 {
  font-size: inherit;
  font-weight: inherit;
}

h5 {
  font-size: inherit;
  font-weight: inherit;
}

h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

b {
  font-weight: bolder;
}

strong {
  font-weight: bolder;
}

code {
  font-feature-settings: var(--default-mono-font-feature-settings, normal);
  font-variation-settings: var(--default-mono-font-variation-settings, normal);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 1em;
}

kbd {
  font-feature-settings: var(--default-mono-font-feature-settings, normal);
  font-variation-settings: var(--default-mono-font-variation-settings, normal);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 1em;
}

samp {
  font-feature-settings: var(--default-mono-font-feature-settings, normal);
  font-variation-settings: var(--default-mono-font-variation-settings, normal);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 1em;
}

pre {
  font-feature-settings: var(--default-mono-font-feature-settings, normal);
  font-variation-settings: var(--default-mono-font-variation-settings, normal);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

progress {
  vertical-align: baseline;
}

summary {
  display: list-item;
}

ol {
  list-style: none;
}

ul {
  list-style: none;
}

menu {
  list-style: none;
}

img {
  vertical-align: middle;
  display: block;
}

svg {
  vertical-align: middle;
  display: block;
}

video {
  vertical-align: middle;
  display: block;
}

canvas {
  vertical-align: middle;
  display: block;
}

audio {
  vertical-align: middle;
  display: block;
}

iframe {
  vertical-align: middle;
  display: block;
}

embed {
  vertical-align: middle;
  display: block;
}

object {
  vertical-align: middle;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

video {
  max-width: 100%;
  height: auto;
}

button {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
}

input {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
}

select {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
}

optgroup {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
}

textarea {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
}

::placeholder {
  opacity: 1;
}

textarea {
  resize: vertical;
}

button {
  -webkit-appearance: button;
  appearance: button;
}

.pointer-events-none {
  pointer-events: none;
}

.visible {
  visibility: visible;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.static {
  position: static;
}

.top-0 {
  top: 0;
}

.top-1 {
  top: 4px;
}

.bw-c0 {
  top: 50%;
}

.top-2 {
  top: 8px;
}

.top-3 {
  top: 12px;
}

.bw-c1 {
  top: 5px;
}

.bw-c2 {
  top: 7px;
}

.bw-c3 {
  top: 10px;
}

.bw-c4 {
  top: 14px;
}

.bw-c5 {
  top: 18px;
}

.bw-c6 {
  top: 44px;
}

.bw-c7 {
  top: 52px;
}

.bw-c8 {
  top: 54px;
}

.bw-c9 {
  top: 74px;
}

.bw-ca {
  top: 80px;
}

.bw-cb {
  top: 88px;
}

.bw-cc {
  top: 110px;
}

.bw-cd {
  top: 272px;
}

.bw-ce {
  top: 456px;
}

.right-4 {
  right: 16px;
}

.left-0 {
  left: 0;
}

.left-2 {
  left: 8px;
}

.left-3 {
  left: 12px;
}

.left-4 {
  left: 16px;
}

.left-6 {
  left: 24px;
}

.left-8 {
  left: 32px;
}

.bw-cf {
  left: 72px;
}

.bw-cg {
  left: 84px;
}

.bw-ch {
  left: 104px;
}

.bw-ci {
  left: 108px;
}

.bw-cj {
  left: 116px;
}

.bw-ck {
  left: 132px;
}

.bw-cl {
  left: 146px;
}

.bw-cm {
  left: 163px;
}

.bw-cn {
  left: 168px;
}

.bw-co {
  left: 210px;
}

.bw-cp {
  left: 226px;
}

.bw-cq {
  left: 259px;
}

.bw-cr {
  left: 264px;
}

.bw-cs {
  left: 274px;
}

.bw-ct {
  left: 326px;
}

.bw-cu {
  left: 338px;
}

.bw-cv {
  left: 360px;
}

.bw-cw {
  left: 390px;
}

.bw-cx {
  left: 432px;
}

.bw-cy {
  left: 436px;
}

.bw-cz {
  left: 442px;
}

.bw-c10 {
  left: 472px;
}

.bw-c11 {
  left: 488px;
}

.bw-c12 {
  left: 506px;
}

.bw-c13 {
  left: 520px;
}

.bw-c14 {
  left: 536px;
}

.bw-c15 {
  left: 560px;
}

.bw-c16 {
  left: 640px;
}

.bw-c17 {
  left: 644px;
}

.bw-c18 {
  left: 664px;
}

.bw-c19 {
  left: 768px;
}

.bw-c1a {
  left: 776px;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.mb-4 {
  margin-bottom: 16px;
}

.bw-c1b {
  margin-bottom: 2px;
}

.block {
  display: block;
}

.contents {
  display: contents;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.inline {
  display: inline;
}

.table {
  display: table;
}

.size-3 {
  width: 12px;
  height: 12px;
}

.size-5 {
  width: 20px;
  height: 20px;
}

.size-6 {
  width: 24px;
  height: 24px;
}

.size-9 {
  width: 36px;
  height: 36px;
}

.h-7 {
  height: 28px;
}

.h-8 {
  height: 32px;
}

.h-9 {
  height: 36px;
}

.h-10 {
  height: 40px;
}

.h-11 {
  height: 44px;
}

.h-14 {
  height: 56px;
}

.h-16 {
  height: 64px;
}

.h-19 {
  height: 76px;
}

.bw-c1c {
  height: 19px;
}

.bw-c1d {
  height: 52px;
}

.bw-c1e {
  height: 68px;
}

.bw-c1f {
  height: 72px;
}

.bw-c1g {
  height: 84px;
}

.bw-c1h {
  height: 88px;
}

.bw-c1i {
  height: 104px;
}

.bw-c1j {
  height: 172px;
}

.bw-c1k {
  height: 348px;
}

.bw-c1l {
  height: 380px;
}

.bw-c1m {
  height: 472px;
}

.bw-c1n {
  height: 488px;
}

.bw-c1o {
  height: 536px;
}

.bw-c1p {
  height: 540px;
}

.bw-c1q {
  height: 564px;
}

.bw-c1r {
  height: 580px;
}

.bw-c1s {
  height: 600px;
}

.bw-c1t {
  height: 644px;
}

.bw-c1u {
  height: 720px;
}

.w-11 {
  width: 44px;
}

.w-14 {
  width: 56px;
}

.w-16 {
  width: 64px;
}

.w-24 {
  width: 96px;
}

.bw-c1v {
  width: 80px;
}

.bw-c1w {
  width: 88px;
}

.bw-c1x {
  width: 100px;
}

.bw-c1y {
  width: 112px;
}

.bw-c1z {
  width: 120px;
}

.bw-c20 {
  width: 128px;
}

.bw-c21 {
  width: 132px;
}

.bw-c22 {
  width: 136px;
}

.bw-c23 {
  width: 146px;
}

.bw-c24 {
  width: 154px;
}

.bw-c25 {
  width: 160px;
}

.bw-c26 {
  width: 304px;
}

.bw-c27 {
  width: 324px;
}

.bw-c28 {
  width: 336px;
}

.bw-c29 {
  width: 340px;
}

.bw-c2a {
  width: 359px;
}

.bw-c2b {
  width: 360px;
}

.bw-c2c {
  width: 378px;
}

.bw-c2d {
  width: 400px;
}

.bw-c2e {
  width: 406px;
}

.bw-c2f {
  width: 408px;
}

.bw-c2g {
  width: 410px;
}

.bw-c2h {
  width: 424px;
}

.bw-c2i {
  width: 426px;
}

.bw-c2j {
  width: 427px;
}

.bw-c2k {
  width: 440px;
}

.bw-c2l {
  width: 480px;
}

.bw-c2m {
  width: 496px;
}

.bw-c2n {
  width: 560px;
}

.bw-c2o {
  width: 853px;
}

.bw-c2p {
  width: 872px;
}

.bw-c2q {
  width: 920px;
}

.bw-c2r {
  width: 1280px;
}

.max-w-none {
  max-width: none;
}

.shrink-0 {
  flex-shrink: 0;
}

.bw-c2s {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y));
}

.transform {
  transform: var(--tw-rotate-x, ) var(--tw-rotate-y, ) var(--tw-rotate-z, ) var(--tw-skew-x, ) var(--tw-skew-y, );
}

.cursor-pointer {
  cursor: pointer;
}

.appearance-none {
  -webkit-appearance: none;
  appearance: none;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.gap-3 {
  gap: 12px;
}

.gap-5 {
  gap: 20px;
}

.gap-6 {
  gap: 24px;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.rounded {
  border-radius: 4px;
}

.rounded-3xl {
  border-radius: 24px;
}

.rounded-lg {
  border-radius: 8px;
}

.rounded-md {
  border-radius: 6px;
}

.rounded-sm {
  border-radius: 4px;
}

.rounded-t-lg {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.border {
  border-style: var(--tw-border-style);
  border-width: 1px;
}

.border-t {
  border-top-style: var(--tw-border-style);
  border-top-width: 1px;
}

.border-r {
  border-right-style: var(--tw-border-style);
  border-right-width: 1px;
}

.border-b {
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 1px;
}

.border-l {
  border-left-style: var(--tw-border-style);
  border-left-width: 1px;
}

.border-blue-300 {
  border-color: #90c5ff;
}

.border-gray-400 {
  border-color: #99a1af;
}

.border-gray-600 {
  border-color: #4a5565;
}

.border-gray-700 {
  border-color: #364153;
}

.bw-c2t {
  background-color: #0b0e14;
}

.bw-c2u {
  background-color: #0f141c;
}

.bg-blue-700 {
  background-color: #1447e6;
}

.bg-card {
  background-color: #22304a;
}

.bg-gray-600 {
  background-color: #4a5565;
}

.bg-gray-700 {
  background-color: #364153;
}

.bg-gray-800 {
  background-color: #1e2939;
}

.bg-header {
  background-color: #1f2d45;
}

.bg-red-800 {
  background-color: #9f0712;
}

.bg-tab {
  background-color: #2a3b58;
}

.bg-tab-hover {
  background-color: #3b5176;
}

.fill-gray-100 {
  fill: #f3f4f6;
}

.fill-gray-200 {
  fill: #e5e7eb;
}

.fill-gray-300 {
  fill: #d1d5dc;
}

.fill-gray-400 {
  fill: #99a1af;
}

.fill-white {
  fill: #fff;
}

.stroke-gray-500 {
  stroke: #6a7282;
}

.stroke-white {
  stroke: #fff;
}

.p-4 {
  padding: 16px;
}

.p-6 {
  padding: 24px;
}

.p-8 {
  padding: 32px;
}

.bw-c2v {
  padding: 0 4px;
}

.bw-c2w {
  padding: 0 8px;
}

.bw-c2x {
  padding: 0 12px;
}

.bw-c2y {
  padding: 0 40px 0 12px;
}

.bw-c2z {
  padding: 4px 0;
}

.bw-c30 {
  padding: 4px 12px;
}

.bw-c31 {
  padding: 6px 12px;
}

.bw-c32 {
  padding: 8px 12px;
}

.bw-c33 {
  padding: 8px 40px 8px 12px;
}

.bw-c34 {
  padding: 10px 16px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.text-5xl {
  font-size: 48px;
  line-height: var(--tw-leading, 1);
}

.text-base {
  font-size: 16px;
  line-height: var(--tw-leading, 1.5);
}

.text-lg {
  font-size: 18px;
  line-height: var(--tw-leading, calc(1.75 / 1.125));
}

.text-sm {
  font-size: 14px;
  line-height: var(--tw-leading, calc(1.25 / .875));
}

.text-xl {
  font-size: 20px;
  line-height: var(--tw-leading, calc(1.75 / 1.25));
}

.leading-5 {
  --tw-leading: calc(4px * 5);
  line-height: 20px;
}

.leading-6 {
  --tw-leading: calc(4px * 6);
  line-height: 24px;
}

.leading-7 {
  --tw-leading: calc(4px * 7);
  line-height: 28px;
}

.leading-8 {
  --tw-leading: calc(4px * 8);
  line-height: 32px;
}

.leading-10 {
  --tw-leading: calc(4px * 10);
  line-height: 40px;
}

.bw-c35 {
  --tw-leading: 19px;
  line-height: 19px;
}

.leading-relaxed {
  --tw-leading: 1.625;
  line-height: 1.625;
}

.font-bold {
  --tw-font-weight: 700;
  font-weight: 700;
}

.wrap-anywhere {
  overflow-wrap: anywhere;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.text-amber-400 {
  color: #fcbb00;
}

.text-blue-400 {
  color: #54a2ff;
}

.text-cyan-400 {
  color: #00d2ef;
}

.text-emerald-400 {
  color: #00d294;
}

.text-fuchsia-400 {
  color: #ec6cff;
}

.text-gray-100 {
  color: #f3f4f6;
}

.text-gray-200 {
  color: #e5e7eb;
}

.text-gray-300 {
  color: #d1d5dc;
}

.text-gray-400 {
  color: #99a1af;
}

.text-green-400 {
  color: #05df72;
}

.text-indigo-400 {
  color: #7d87ff;
}

.text-lime-400 {
  color: #9de500;
}

.text-orange-400 {
  color: #ff8b1a;
}

.text-pink-400 {
  color: #fb64b6;
}

.text-purple-400 {
  color: #c07eff;
}

.text-red-300 {
  color: #ffa3a3;
}

.text-rose-400 {
  color: #ff667f;
}

.text-sky-400 {
  color: #00bcfe;
}

.text-teal-400 {
  color: #00d3bd;
}

.text-violet-400 {
  color: #a685ff;
}

.text-white {
  color: #fff;
}

.lowercase {
  text-transform: lowercase;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration-line: underline;
}

.decoration-dotted {
  text-decoration-style: dotted;
}

.underline-offset-4 {
  text-underline-offset: 4px;
}

.accent-gray-600 {
  accent-color: #4a5565;
}

.filter {
  filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
}

@media (hover: hover) {
  .bw-c36:hover {
    background-color: #193cb8;
  }

  .bw-c37:hover {
    background-color: #6a7282;
  }

  .bw-c38:hover {
    background-color: #4a5565;
  }

  .bw-c39:hover {
    background-color: #3b5176;
  }
}

.bw-c3a:focus-visible {
  outline-style: var(--tw-outline-style);
  outline-width: 2px;
}

.bw-c3b:focus-visible {
  outline-offset: -2px;
}

.bw-c3c:focus-visible {
  outline-offset: 2px;
}

.bw-c3d:focus-visible {
  outline-color: #fff;
}

@media (hover: hover) {
  .bw-c3e:enabled:hover {
    background-color: #6a7282;
  }
}

.bw-c3f:disabled {
  cursor: not-allowed;
}

.bw-c3g:disabled {
  cursor: wait;
}

.bw-c3h:disabled {
  border-color: #6a7282;
}

.bw-c3i:disabled {
  background-color: #364153;
}

.bw-c3j:disabled {
  background-color: #1e2939;
}

.bw-c3k:disabled {
  color: #99a1af;
}

.bw-c3l[aria-current="page"] {
  background-color: #34496b;
}

.bw-c3m[aria-current="page"] {
  color: #fff;
}

html {
  background-color: #34496b;
  height: 720px;
}

body {
  background-color: #34496b;
  width: 1280px;
  height: 720px;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  overflow: hidden;
}
